page-register {

  $button-ios-background-color-activated: 34 ADFB;
  $button-wp-background-color-activated: 34 ADFB;
  $button-md-background-color-activated: 34 ADFB;

  .card {
    border: 3px solid #33ccff;
  }
  .registerBut {
    border-radius: 5px;
    background: white;
    border: 2px solid #ffd56e;
    float: right;
  }
  .backBut {
    background: transparent;
    color: #33ccff;
    margin: 0.1em 1em 0 0;
  }
}
