page-register {

  $button-ios-background-color-activated: 34 ADFB;
  $button-wp-background-color-activated: 34 ADFB;
  $button-md-background-color-activated: 34 ADFB;

  .card {
    ion-item {
      background: #33ccff;
    }
    background: #33ccff;
  }
  .registerBut {
    border-radius: 5px;
    background: white;
  }
  .input {
    color: white;
  }
}
