page-profile {
  ion-card {
    border: 3px solid #33ccff;
  }
  .buttonSave {
    float: right;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ffd56e;
  }
  .backBut {
    background: transparent;
    color: #33ccff;
    margin: 0.1em 1em 0 0;
  }
  .iconCol {
    background: transparent;
    color: #33ccff;;
    box-shadow: none;
  }
}
