<ion-header>
  <ion-navbar>
    <ion-row>
      <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('menuCategories')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title (click)="tb.redirectToFront()"><img class="logo" src="./assets/img/New_LOGO.png"/></ion-title>

      <!-- When user is logged -->
      <div *ngIf="mediaProvider.logged">
        <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('userMenu')">
          <ion-icon name="contact"></ion-icon>
        </button>
      </div>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 offset-sm-3>
        <ion-card padding="">
          <ion-card-title>
            <h1 *ngIf="settings">
              <ion-icon name="arrow-back" class="backBut" (click)="settingsOn()"></ion-icon>
            </h1>
            {{fullname}}
          </ion-card-title>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <!-- "split" Error here <ion-img  [src]="mediaProvider.mediaUrl+(profilePicFilename | thumbnail:'medium')"></ion-img> -->
                  <img [src]=pictureSource>
                  <div class="buttonBlock">
                    <ion-item>
                      <button ion-button icon-only class="iconCol" *ngIf="settings" (click)="captureImage()">
                        <ion-icon name="image"></ion-icon>
                      </button>
                    </ion-item>
                    <button ion-button icon-only class="iconCol" *ngIf="!settings" (click)="settingsOn()">
                      <ion-icon name="settings"></ion-icon>
                    </button>
                  </div>
                </ion-col>
                <ion-col *ngIf="!settings">
                  <p><b>Email:</b> {{email}} </p>
                  <!--
                  <p><b>Interests: </b> {{interests}} </p>
                  <p><b>Favourites: </b> {{favourites}} </p>
                  -->
                </ion-col>
                <ion-col *ngIf="settings">
                  <ion-input type="text" placeholder="Change username" [(ngModel)]="user.username"></ion-input>
                  <ion-input type="email" placeholder="Change email" [(ngModel)]="user.email"></ion-input>
                  <ion-input type="password" placeholder="Change password" [(ngModel)]="user.password"></ion-input>
                  <div>
                    <button ion-button type="submit" class="buttonSave" (click)="updateInfo()">Save</button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

