<ion-header>
  <ion-navbar>

    <ion-row>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="logo" src="assets/img/New_LOGO.png"/></ion-title>

      <ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar>

      <!-- When user is not logged -->

      <div *ngIf="!mediaProvider.logged">
        <button ion-button no-lines class="logIn" (click)="login()">Log In</button>
      </div>

      <!-- When user is logged -->
      <div *ngIf="mediaProvider.logged">
        <h5> Recent tables </h5>
        <button no-lines class="logIn" ion-item (click)="upload()"> Upload</button>
        <button no-lines class="logout" ion-item (click)="logout()"> Log out</button>
      </div>
    </ion-row>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col class="columnEvents">
        <ion-card>
          <ion-card-header>
            Card Header
          </ion-card-header>
          <ion-card-content>
            Card Content
            <!-- Add card content here! -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-4="" class="columnPosts" *ngIf="!mediaProvider.logged">
        <ion-card>
          <ion-card-header>
            About us
          </ion-card-header>
          <ion-card-content>
            Anytime, anywhere! Find your stranger friend!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-4="" class="columnPosts" *ngIf="mediaProvider.logged">
        <ion-card>
          <ion-card-header>
            Card Header
          </ion-card-header>
          <ion-card-content>
            Card Content
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
