<ion-header>
  <ion-navbar>
    <ion-row>
      <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('menuCategories')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title (click)="tb.redirectToFront()"><img class="logo" src="assets/img/New_LOGO.png"/></ion-title>

      <!-- When user is not logged -->

      <div *ngIf="!mediaProvider.logged">
        <button ion-button icon-only="" class="logIn" (click)="tb.redirectToLogin()">
          <ion-icon name="log-in"></ion-icon>
        </button>
        </div>


        <!-- When user is logged -->
      <div *ngIf="mediaProvider.logged">
        <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('userMenu')">
          <ion-icon name="contact"></ion-icon>
        </button>
      </div>

      <div>
        <button ion-button icon-only class="icon_menu" (click)="tb.toggle()" *ngIf="!tb.toggled">
          <ion-icon name="search"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="tb.searchQuery" *ngIf="tb.toggled" [animated]="true"
                       (ionInput)="tb.getItems($event)" (ionClear)="tb.onCancel()"
                       (ionCancel)="tb.onCancel()"></ion-searchbar>
      </div>

    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- Content for NOT logged in user -->

  <div *ngIf="!mediaProvider.logged">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-6 offset-sm-3>
          <ion-card class="columnPosts">
        <ion-card-header>
          About us
        </ion-card-header>
        <ion-card-content>
          Anytime, anywhere! Find your stranger friend! Sonar is an app where you can find other people with the same
          interests as you. Create and join events, and post about your passions!
        </ion-card-content>
      </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-col class="columnEvents" *ngFor="let evt of shareService.eventArray">
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-6 offset-sm-3>

            <ion-card class="columnEvents">
              <img [src]="mediaProvider.mediaUrl + (evt.filename | thumbnail:'small')">
              <div class="card-title"> {{evt.title}}</div>
              <div class="card-subtitle"><b>Description: </b>{{evt.description}} <br>
              </div>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </div>

  <!-- Content for logged in user -->
  <div *ngIf="mediaProvider.logged">
    <div padding>
      <ion-segment [(ngModel)]="listOfPages">
        <ion-segment-button value="Events">
          Events
        </ion-segment-button>
        <ion-segment-button value="News">
          News
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="listOfPages">
      <ion-list *ngSwitchCase="'Events'">
        <ion-col class="columnEvents" *ngFor="let evt of shareService.eventArray">
          <ion-grid>
            <ion-row>
              <ion-col col-12 col-sm-6 offset-sm-3>
                <ion-card class="columnEvents">
                  <img [src]="mediaProvider.mediaUrl + (evt.filename | thumbnail:'small')">
                  <div class="card-title"> {{evt.title}}</div>
                  <div class="card-subtitle"><b>Description: </b>{{evt.description}} <br>
                  <!-- Two buttons that appear and disappear when user has the file in favourites-->

                    <button ion-button class="joinBut" (click)="addFavourite(evt)" *ngIf="!isFavourite(evt)">Join
                      <!--<ion-badge>( {{getAmountOfFavourites(evt)}} )</ion-badge>-->
                   </button>
                     <button ion-button class="joinBut" (click)="removeFavourite(evt)" *ngIf="isFavourite(evt)">Joined
                       <!-- <ion-badge>( {{getAmountOfFavourites(evt)}} )</ion-badge>-->
                    </button>

                   </div>
                 </ion-card>
               </ion-col>
             </ion-row>
           </ion-grid>
         </ion-col>
       </ion-list>

       <ion-list *ngSwitchCase="'News'">
         <ion-col class="columnEvents" *ngFor="let post of shareService.postArray">
           <ion-grid>
             <ion-row>
               <ion-col col-12 col-sm-6 offset-sm-3>
                 <ion-card class="columnEvents">
                   <img [src]="mediaProvider.mediaUrl + (post.filename | thumbnail:'small')">
                   <div class="card-title"> {{post.title}}</div>
                   <div class="card-subtitle"><b>Description: </b>{{post.description}}<br>
                   <!-- Two buttons that appear and disappear when user has the file in favourites-->

                  <button ion-button class="joinBut"  (click)="addFavourite(post)" *ngIf="!isFavourite(post)">Like
                    <!--<ion-badge>{{getAmountOfFavourites(post)}}</ion-badge>-->
                  </button>
                  <button ion-button class="joinBut"  (click)="removeFavourite(post)" *ngIf="isFavourite(post)">Liked
                    <!--<ion-badge>{{getAmountOfFavourites(post)}}</ion-badge>-->
                  </button></div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-list>
    </div>
  </div>
</ion-content>
