page-front {

  .columnEvents {
    text-shadow: 2px 2px 2px #222222;

    ion-card {
      position: relative;
      text-align: center;
      padding: 0 0 0 0;
    }

    .card-title {
      position: absolute;
      top: 38%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 50%;
      width: 100%;
      color: #fff;
    }
    .grid {
      padding: 0 0 0 0;
    }
    col {
      padding: 0 0 0 0;
    }

  }


  }
  .columnPosts {
    text-align: center;
    .card-header {
      font-size: 2em;
      background: #33ccff;
    }
    .card-content {
      font-size: 1em;
      background: #33ccff;
    }

  }



