page-post {

  $button-ios-background-color-activated: 34 ADFB;
  $button-wp-background-color-activated: 34 ADFB;
  $button-md-background-color-activated: 34 ADFB;

  ion-card {
    border: 3px solid #33ccff;
  }

  .postBtn {
    position: relative;
    float: right;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ffd56e;
  }
}
