<ion-header>
  <ion-navbar>
    <ion-row>
      <button ion-button icon-only class="icon_menu" (click)="openMenu('menuCategories')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img class="logo" src="../../assets/img/New_LOGO.png"/></ion-title>

      <!-- When user is not logged -->

      <div *ngIf="!mediaProvider.logged">
        <button ion-button no-lines class="logIn" (click)="login()" >Log In</button>
      </div>

      <!-- When user is logged -->
      <div *ngIf="mediaProvider.logged">
        <button ion-button icon-only class="icon_menu" (click)="openMenu('userMenu')">
          <ion-icon name="contact"></ion-icon>
        </button>
      </div>
      <div>
        <button ion-button icon-only class="icon_menu" (click)="toggle()" *ngIf="!toggled">
          <ion-icon name="search"></ion-icon>
        </button>
        <ion-searchbar *ngIf="toggled" [animated]="true" (ionInput)="getItems($event)" (ionClear)="onCancel()"
                       (ionCancel)="onCancel()"></ion-searchbar>
      </div>

    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-card-content >
  <ion-card class="style">
    <ion-list radio-group> <!--[(ngModel)]="PostIt"-->

      <ion-item>
        <ion-label>Make a post</ion-label>
      </ion-item>

      <!-- Seen to events and posts -->
      <ion-item>
        <ion-input type="text" [(ngModel)]="post.title" name="title" placeholder="Title" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="post.info" name="info" placeholder="Info" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Choose the category</ion-label>
        <ion-select [(ngModel)]="post.interests" name="interests" placeholder="Interest" required>
          <ion-option>Culture</ion-option>
          <ion-option>Sports</ion-option>
          <ion-option>Science</ion-option>
          <ion-option>Food</ion-option>
          <ion-option>Business</ion-option>
          <ion-option>Animals</ion-option>
        </ion-select>
      </ion-item>

      <!-- Seen only to events
      <ion-item [hidden]="isHidden">
        <ion-radio type="text" [(ngModel)]="post.time" name="time" placeholder="Time" ngDefaultControl></ion-radio>
      </ion-item>

      <ion-item [hidden]="isHidden">
        <ion-radio type="text" [(ngModel)]="post.cost" name="cost" placeholder="Cost" ngDefaultControl></ion-radio>
      </ion-item>

      <ion-item [hidden]="isHidden">
        <ion-radio type="text" [(ngModel)]="post.capasity" name="capasity" placeholder="Capasity" ngDefaultControl></ion-radio>
      </ion-item>
      -->


      <ion-item *ngIf="photoUploaded">
          <ion-img [src]="mediaProvider.mediaUrl + (photoName | thumbnail:'small')" required></ion-img>
      </ion-item>
      <ion-item>
        <button ion-button class="postBtn" (click)="captureImage()">Upload picture</button>
      </ion-item>

      <div class="buttons">
        <button ion-button class="postBtn" (click)="cancel()"> Cancel </button>
        <button ion-button class="postBtn" (click)="postIt()" type="submit">Post</button>
      </div>

    </ion-list>
  </ion-card>
</ion-card-content>

</ion-content>
