<ion-header>
  <ion-navbar>
    <ion-row>
      <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('menuCategories')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title (click)="tb.redirectToFront()"><img class="logo" src="assets/img/New_LOGO.png"/></ion-title>

      <!-- When user is logged -->
      <div *ngIf="mediaProvider.logged">
        <button ion-button icon-only class="icon_menu" (click)="tb.openMenu('userMenu')">
          <ion-icon name="contact"></ion-icon>
        </button>
      </div>

    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid padding>
    <ion-row>
      <ion-col col-12 col-sm-6 offset-sm-3>
        <ion-card>
          <div padding>
            <ion-segment [(ngModel)]="postOrEvent">
              <ion-segment-button value="event">
                Event
              </ion-segment-button>
              <ion-segment-button value="post">
                Post
              </ion-segment-button>
            </ion-segment>
          </div>

          <div [ngSwitch]="postOrEvent" padding>
            <div *ngSwitchCase="'event'">
              <ion-input type="text" [(ngModel)]="post.title" name="title" placeholder="Title" required></ion-input>
              <ion-input type="text" [(ngModel)]="post.info" name="info" placeholder="Info" required></ion-input>
              <ion-input type="text" [(ngModel)]="post.time" placeholder="Time"></ion-input>
              <ion-input type="text" [(ngModel)]="post.cost" name="cost" placeholder="Cost"
                         ngDefaultControl></ion-input>
              <ion-input type="number" [(ngModel)]="post.capasity" name="capasity" placeholder="Capasity"
                         ngDefaultControl></ion-input>
              <ion-item>
                <ion-label>Interest</ion-label>
                <ion-select [(ngModel)]="interests">
                  <ion-option>Culture</ion-option>
                  <ion-option>Sports</ion-option>
                  <ion-option>Science</ion-option>
                  <ion-option>Food</ion-option>
                  <ion-option>Business</ion-option>
                  <ion-option>Animals</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <button ion-button class="postBtn" (click)="captureImage()">Upload picture</button>
              </ion-item>

              <ion-item class="buttons">
                <button ion-button class="postBtn" item-right="" (click)="postIt()" [disabled]="!photoUploaded"
                        type="submit">Post
                </button>
              </ion-item>
            </div>

            <div *ngSwitchCase="'post'">
              <ion-input type="text" [(ngModel)]="post.title" name="title" placeholder="Title" required></ion-input>
              <ion-input type="text" [(ngModel)]="post.info" name="info" placeholder="Info" required></ion-input>
              <ion-item>
                <ion-label>Interest</ion-label>
                <ion-select [(ngModel)]="interests">
                  <ion-option>Culture</ion-option>
                  <ion-option>Sports</ion-option>
                  <ion-option>Science</ion-option>
                  <ion-option>Food</ion-option>
                  <ion-option>Business</ion-option>
                  <ion-option>Animals</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <button ion-button class="postBtn" (click)="captureImage()">Upload picture</button>
              </ion-item>

              <ion-item class="buttons">
                <button ion-button class="postBtn" item-right="" (click)="postIt()" [disabled]="!photoUploaded"
                        type="submit">Post
                </button>
              </ion-item>
            </div>
          </div>
          <ion-item *ngIf="photoUploaded">
            <ion-img [src]="mediaProvider.mediaUrl + (photoName | thumbnail:'medium')" required></ion-img>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
