// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$toolBar_color: #ffd56e;

.toolbar-background {
  background-color: $toolBar_color;
}

.toolbar-title{
  width: 8em;
  padding-top: 0.5%;
}

.card {
  border-radius: 20px;
}

.logIn {
  background: transparent;
  color: white;
  box-shadow: none;
}
.icon_menu{
  box-shadow: none;
  color: white;
}

.badge {
  background: transparent;
  color: white;
  text-shadow: -0.3px -0.3px 0 black,
  0.3px -0.3px 0 black,
  -0.3px 0.3px 0 black,
  0.3px 0.3px 0 black;
}
